<h1>Password Generator</h1>

<div>
  <label>Engter Length</label>
  <input (input)="onChangeLength($event)"/>
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()"/>
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()"/>
</div>

<div>
  <label>User Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()"/>
</div>
  
<div>
  <button 
    [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols) )" 
    (click)="onButtonClick()">
    
    Generate!
  </button>
</div>

<div>
  <label>Your Password is</label>
  <input [value]="getPassword()"/>
  <div>
    You see: <div>{{ password }}</div>
  </div>
</div>